<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="head :: head"></div>

    <title>Events Crud Manager</title>
</head>

<body>
    <div th:replace="navbar :: div-nav"></div>

    <div class="container-fluid bg-light">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-6 text-center p-5 bg-secondary rounded">
                <h1 class="text-white mb-4">Bem-vindo ao Gerenciador de Eventos</h1>
                <p class="text-white-50 mb-5">
                    Este site foi criado por Leonardo Paiva para a matéria de Web II, demonstrando a aplicação de CRUDs utilizando Java Spring e o relacionamento entre as tabelas de eventos e participantes.
                </p>
                
                <div class="d-flex justify-content-center">
                    <a th:href="@{/events}" class="btn btn-dark btn-lg mx-3 px-5 py-3">
                        Eventos
                    </a>
                    <a th:href="@{/participants}" class="btn btn-dark btn-lg mx-3 px-5 py-3">
                        Participantes
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
