* {
    margin: 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

img.primeira {
    width: 800px;
    height: 600px;
    margin: auto;
    display: block;
    border-radius: 25px;
}

img.segunda {
    margin: 0px;
    width: 300px;
}

div.div_img {
    background-color: red;
    text-align: center;
    padding: 0px;
}