main {
    display: flex;
   flex-flow: row wrap;
}

div {
    background: lightblue;
    font-size: 20px;
    text-align: center;
    flex: 1 150px;
    padding: 10px;
}

#div2 {
    background: lightgreen;
    flex: 2;
    order: -1;
}