/3º-Periodo/LTP2/LeonardoPaiva/dist/
/3º-Periodo/LTP2/EstudoCaso3SI/build/
/3º-Periodo/EstDados/JavaDEQUE/dist/
/3º-Periodo/EstDados/HashJavaTime/nbproject/private/
/3º-Periodo/EstDados/HashJavaTime/build/
/3º-Periodo/LTP2/EstudoCaso3SI/dist/
/3º-Periodo/LTP2/SistemaCadastro/build/
/3º-Periodo/LTP2/SistemaCadastro/dist/
/3º-Periodo/LTP2/SistemaCadastro/nbproject/private/
/4º Período/Est_Dados_II/JavaSortSearch_CarDataset/dist/
/4º Período/Est_Dados_II/ListaRevisao01/target/
/4º Período/Est_Dados_II/JavaTrees/nbproject/private/
/4º Período/Est_Dados_II/JavaTreesRemove/nbproject/private/
/4º Período/Est_Dados_II/RedeSocialGrafo/nbproject/private/
/4º Período/Est_Dados_II/RedeSocialGrafo/dist/
/4º Período/Est_Dados_II/RedeSocialGrafo/build/
