* {
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    background-color: #111;
    color: #b2b2b2;
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    width: 30%;
    margin: auto;
    margin-top: 15px;
}

strong {
    color: #febe01;
}

.btnProposta {
    border-radius: 4px;
    background-color:#febe01;
    color:  #332200;
    padding: 10px;
    font-weight: bold;
}