<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component - Navbar</title>
</head>

<body>
    <header>
        <nav class="nav-menu">
            <ul>
                <li><a href="/Trabalho-01/index.html">Página Inicial</a></li>
                <li><a href="/Trabalho-01/horario.html">Hora do Dia</a></li>
                <li><a href="/Trabalho-01/idade.html">Verificador de Idade</a></li>
                <li><a href="/Trabalho-01/contador.html">Contador</a></li>
                <li><a href="/Trabalho-01/tabuada.html">Tabuada</a></li>
                <li><a href="/Trabalho-01/analisador.html">Analisador</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>