* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    margin-bottom: 35px;
}

header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80vw;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 18px;
    list-style: none;
    align-items: center;
}

nav ul li {
    background-color: #879400;
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    width: 10vw;
    text-align: center;
}


.imgLogo {
    width: 75px;
    border-radius: 50%;
    border: 3px solid #879400;
}


/* grid */
.grid-container,
.grid-container-2,
.grid-header {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.grid-container {
    margin: auto;
    gap: 15px;
    justify-items: center;
    width: 80vw;
}

.grid-container-2 {
    grid-template-columns: auto 1fr;
}

.item-grid {
    background-color: #111;
    color: #b2b2b2;
    border-radius: 4px;
    padding: 10px;
    width: 95%;
    height: auto;  
}

.item-grid-2 p, .item-grid-2 h2 {
    margin: 15px;
}

.item-grid-2 {
    font-size: 18px;
}

.grid-logo {
    justify-content: left;
}

.item-grid-logo {
    gap: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

/* --------------------------- */

strong {
    color: #febe01;
}

.btnProposta {
    border-radius: 4px;
    background-color: #febe01;
    color: #332200;
    padding: 0.5rem;
    font-weight: bold;
    margin-left: 10px;
    width: 120px;
}

.imgs {
    width: 18vw;
    border-radius: 7px;
}


/* media */

@media (min-width: 481px) and (max-width: 768px) {

    header {
      font-size: 12px;
    }
    
    nav {
        width: 100%;
    }

    nav ul {
        gap: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    nav ul li {
        padding: 5px 10px;
        width: 82%;
    }

    .grid-container-2 {
        grid-template-columns: 1fr;
    }

    .item-grid {
        height: auto;
    }

    .btnProposta {
        padding: 7px;
    }

    .imgs {
        width: 95%;
        height: 100%;
        border-radius: 7px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {

    header {
        display: block;
    }

    .grid-header {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .item-grid-logo {
        display: block;
        text-align: center;
    }

    .item-grid-logo img, .item-grid-logo h3 {
        margin: 7px;
    }

    nav ul {
        gap: 6px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    nav ul li {
        padding: 8px 3px;
        width: 95%;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-container-2 {
        grid-template-columns: 1fr;
    }

    .item-grid-2 p, .item-grid-2 h2 {
        margin: 13px;
    }

    .grid-container-2 .item-grid-2:nth-child(1){
        text-align: center;
    }
    .item-grid {
        height: auto;
    }

    .imgs {
        width: 300px;
        height: 200px;
    }

    .btnProposta {
        padding: 7px;
    }
}