* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, p, ul {
    margin: 10px;
    padding: 10px;
}

p {
    margin: 5px;
}

#first {
    text-indent: 20px;
}

#first::first-letter {
    font-size: 1.5em;
}

.highlight {
    background-color: beige;
}

li.highlight {
    text-decoration: underline;
}

/* Descendentes  */ 
li em {
    color: orange;
}

/* Pai */
li > spam {
    color: red;
}

/* Todo paragrafo que antes dele tem um paragrafo */ 
p + p {
    background: purple;
}

a:hover {
    text-decoration: none;
    border: 1px solid black;
}

li + p > div spam {
    
}