* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

nav {
    margin-right: 2.4%;
}

nav ul {
    display: flex;
    gap: 18px;
    list-style: none;
}

nav ul li {
    background-color: #879400;
    color: white;
    padding: 10px 30px;
    border-radius: 4px;
}


.imgLogo {
    width: 25%;
    border-radius: 50%;
    border: 4.5px solid #879400;
}


/* grid */
.grid-container,
.grid-container-2,
.grid-header {
    display: grid;
    grid-template-columns: auto auto;

}

.grid-container {
    justify-items: center;
}

.item-grid {
    background-color: #111;
    color: #b2b2b2;
    border-radius: 4px;
    padding: 10px;
    width: 80%;
    margin: 10px;
    gap: 0;

}

.grid-logo {
    justify-content: left;
}

.item-grid-logo {
    gap: 10px;
    margin-left: 12%;
    display: flex;
    align-items: center;
}

/* --------------------------- */

strong {
    color: #febe01;
}

.btnProposta {
    border-radius: 4px;
    background-color: #febe01;
    color: #332200;
    padding: 10px;
    font-weight: bold;
}

.imgs {
    width: 80%;
    height: 35%;
    height: 60%;
    border-radius: 7px;
}