#section-analisador {
    width: 600px;
    margin: auto;
    border: 5px solid darkslategray;
    border-radius: 10px;
    box-shadow: 0px 0px 20px grey;
}

h3,
#res {
    color: white;
}

#txt-num {
    height: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #2f4f4f;
    width: 50%;
}

.btns {
    width: 125px;
    box-shadow: 1px 1px 7px lightslategray;
    font-weight: bold;
    color: white;
    background-color: darkslategray;
    border-radius: 5px;
    margin: 10px;
    height: 25px;
}

#select-num {
    width: 50%;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 7px lightslategray;
}

#res {
    margin: auto;
    text-align: left;
    width: 50%;
    margin-bottom: 15px;
}