
#horario {
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    width: 600px;
    height: 400px;
    padding-bottom: 25px;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

#imagem {
    border-radius: 10px;
    box-shadow: 0 0 20px lightslategrey;
    width: 225px;
}

