* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.hoje {
    color: darkgreen;
}

.amanha {
    color: darkblue;
}

h2 {
    color: royalblue;
}

p {
    font-size: 20px;
}